[user]
	name = Marjan Grabowski
	email = hello@knaggit.de
	signingkey = 0x7426E2F78A84EB06
[alias]
	l = log --oneline -n 20
	st = status -s
	go = checkout
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore
	editor = hx
	pager = delta --side-by-side
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	conflictStyle = zdiff3
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[rerere]
	enabled = true
[diff]
	colorMoved = default
[delta]
	syntax-theme = Coldark-Dark
	minus-style = syntax "#560808"
	minus-emph-style = syntax "#AF0101"
	plus-style = syntax "#074C07"
	plus-emph-style = syntax "#008700"
	hyperlinks = true
	pager = less --mouse
[interactive]
	diffFilter = delta --color-only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
